### LABR dataset preprocessing

In [1]:
import pandas as pd

In [2]:
# columns  rating<TAB>review id<TAB>user id<TAB>book id<TAB>review
df = pd.read_csv("reviews.tsv", sep='\t', header=0, names=['rating', 'review_id', 'user_id', 'book_id', 'review'])

In [3]:
df.head()

,rating,review_id,user_id,book_id,review
0,4,39428407,1775679,3554772,من أمتع ما قرأت من روايات بلا شك. وحول الشك تد...
1,4,32159373,1304410,3554772,رواية تتخذ من التاريخ ،جوًا لها اختار المؤلف ف...
2,1,442326656,11333112,3554772,إني أقدّر هذه الرواية كثيرا، لسبب مختلف عن أسب...
3,5,46492258,580165,3554772,الكاهن الذي أطلق على نفسه اسم هيبا تيمنا بالعا...
4,5,25550893,1252226,3554772,عزازيل هو اسم رواية يوسف زيدان الثانية و التي ...

In [4]:
df = df[['review', 'rating']]

In [5]:
df.head()

                                              review  rating
0  من أمتع ما قرأت من روايات بلا شك. وحول الشك تد...       4
1  رواية تتخذ من التاريخ ،جوًا لها اختار المؤلف ف...       4
2  إني أقدّر هذه الرواية كثيرا، لسبب مختلف عن أسب...       1
3  الكاهن الذي أطلق على نفسه اسم هيبا تيمنا بالعا...       5
4  عزازيل هو اسم رواية يوسف زيدان الثانية و التي ...       5

### select only positive , negative sentences where 1,2 considered negative reviews, 4,5 positive reviews and 3 is netural
check first if we have netural reviews

In [6]:
df.loc[df['rating']==3]

                                                  review  rating
5      لم استوعب بداية أنها رواية حتى وصلت إلى المنتص...       3
18     رؤيتي للكتاب بشكل عام : * أنا لست من محبي الرو...       3
20     ممتعه لا أحد يختار . وانما هي مشيئة السماء تتخ...       3
34     رواية محبوكة لأقصى درجة. خدعتني المقدمة و الصو...       3
45     ميزة الرواية أنها أطلعتنى على تاريخ الكنيسة ال...       3
...                                                  ...     ...
63056  كثيرة المأساوية وكثيرة الالم ، النهاية صعبة جد...       3
63057  يقدم شكسبير تقنية لم يسبقه إليها أحد وهي تقنية...       3
63061  بصراحة، لم تكن هذه الرواية على قدر توقعاتي. ال...       3
63062  هي الرواية الأولى التي قرأتها لأيميلي نصر الله...       3
63063  تَدْخل بيوت الناس، تدخل قلوبهم، تمدّ يدك تصافح...       3

[12168 rows x 2 columns]

Now select positive reviews and negative reviews only

In [7]:
positive_reviews = df.loc[df['rating'] >=4]
negative_reviews = df.loc[df['rating'] <= 2]

confirm we don't have anymore reviews with rating 3.

In [8]:
positive_reviews.loc[df['rating']==3]
negative_reviews.loc[df['rating']==3]

Empty DataFrame
Columns: [review, rating]
Index: []

empty results means we select the reviews correctly

### positive reviews rating 4,5

In [9]:
positive_reviews.loc[df['rating']>= 4]

                                                  review  rating
0      من أمتع ما قرأت من روايات بلا شك. وحول الشك تد...       4
1      رواية تتخذ من التاريخ ،جوًا لها اختار المؤلف ف...       4
3      الكاهن الذي أطلق على نفسه اسم هيبا تيمنا بالعا...       5
4      عزازيل هو اسم رواية يوسف زيدان الثانية و التي ...       5
6                        هذا هو الأدب . هذه هي الرواية !       4
...                                                  ...     ...
63054  رواية جميلة . اثار انتباهي فيها سرعة اتخاذ هام...       4
63058          فلسفه بودن يا نبودنمان هم هنوز نيست.عجبا!       5
63059              حينما يدعي هملت الجنون يكون أكثر حكمة       4
63060          اجمل مسرحية ألفت في تاريخ الادب الانجليزي       5
63064  لم ادرك معنى العلاقات الخارجية و البروتكولات ا...       4

[42723 rows x 2 columns]

### Negative reviews rating 1,2

In [10]:
negative_reviews.loc[df['rating'] <= 2]

                                                  review  rating
2      إني أقدّر هذه الرواية كثيرا، لسبب مختلف عن أسب...       1
35     انا كان عندى شغف قوى جدا لاقرأه وبعد ان تعمقت ...       2
84     منذ مدة طويلة وأنا لا أقرأ الروايات ولكني اختر...       1
87     هو ممتع فى المجمل احداثه مشوقه هيبا شخصيته غري...       2
89     ذكر الكاتب في مقدمته أنها ترجمة لمخطوطات كتبها...       2
...                                                  ...     ...
63034  الرواية شيقة واستمتعت في قراءتها وأعجبت بشخصية...       2
63035  عن خادمة تسافر من الفلبين إلى الكويت لا شيء جد...       1
63040                جميلة بالرغم من بساطة اسلوب الكاتب        2
63042  تعليق على صفحة 179: نقله غير متوقعه وغير جميله...       2
63053  ماساه ماساه ماساه ماساه بما تحمله الكلمة من مع...       2

[8174 rows x 2 columns]

### save two pandas into text files
- save only the review since we knew the text represent which rating based on splitted values for negative and positive reviews

In [11]:
positive_reviews = positive_reviews['review']
negative_reviews = negative_reviews['review']

In [12]:
positive_reviews.to_csv('data/positive_labr.txt', header=None, index=None, sep=' ', mode='a')
negative_reviews.to_csv('data/negative_labr.txt', header=None, index=None, sep= ' ', mode='a')